{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div>
<div class="typewriter">
    <h1>Zdravíčko!</h1>
    <h4 class="line1">Využil jsem favicon, menší animace, header,footer...</h4>

    <h4 class="line2">Jednoduché portfolio využívající symfony.</h4>
   
</div>
</div>
{% endblock %}
