{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<div class="container">

        <div class="typewriter">
        <center>
            <h4 class="line1">Druhý projekt bude moje portfolio. Tady je pomalejší animace</h4>
            <h4 class="line1">pro efekt a upozornění na možnost kliknout na obrázek, vše klasicky v CSS.</h4>
        </center>
        </div>
        <a href="https://brych.pythonanywhere.com/">
        <img class="picture" src="{{ asset('images/rodina.jpg') }}" alt="Profile Picture">
        </a>
</div>



{% endblock %}
