{% extends 'base.html.twig' %}

{% block title %}Space Shooter{% endblock %}

{% block body %}

<div class="container">
<div class="wrapper">
<div class="typewriter">
<center>
     <h4 class="line1">Rychlá střílečka v Pythonu a knihovně Pygame.</h4>
     <h4 class="line1">Kód je na <a href="https://github.com/brychjakub/SpaceShooter.git">GitHubu</a> a tady je vložené video přes google-iframe.</h4>
</center>
</div>

</div>
<div class="responsive-iframe-container">
    <iframe src="https://www.youtube.com/embed/l8kt03E0U8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>




{% endblock %}
